venv/
.DS_Store
__pycache__/
temp/
logs/
.env
.venv
.dockerignore
src/temp
temp
logs/
plugins/
config/
postgres/%   
temp_data/
plugins/
config/
postgres/
target/
dbt_packages/
logs/
example/
.vscode/
profiles.yml
last_data/
archived_data/
df.txt
.user.yml